<header class="header">
    <h1 id="category-edit-title" class="header__title title"></h1>
</header>
<main class="main">
    <div class="container">
        <div class="container__input">
            <input type="text" id="category-edit-input" class="category-input" placeholder="Название...">
            <div class="alert-message ml-15 mb-10 hide" id="category-edit-error"></div>
        </div>
        <div class="block-btn">
            <!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
            <a rel="stylesheet" href="javascript:void(0)" id="category-edit-ok" class="category-btn category-btn_green">Сохранить</a>
            <!--                <button class="category-btn category-btn_red">Удалить</button>-->
            <a rel="stylesheet" id="category-edit-cancel" class="category-btn category-btn_red">Отмена</a>
        </div>
    </div>
</main>