<header class="header">
    <h1 class="header__title title" id="category-add-title">Создание категории доходов</h1>
</header>
<main class="main">
    <div class="container">
        <div class="container__input">
            <input type="text" class="category-input" id="category-input-element" placeholder="Название...">
            <div class="alert-message ml-15 mb-10 hide" id="category-create-error"></div>
        </div>

        <div class="block-btn">
            <!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
            <a rel="stylesheet" id="create-category-ok" href="javascript:void(0)"
               class="category-btn category-btn_green">Создать</a>
            <!--                <button class="category-btn category-btn_red">Удалить</button>-->
            <a rel="stylesheet" id="create-category-cancel" href="/income"
               class="category-btn category-btn_red">Отмена</a>
        </div>
    </div>
</main>