<header class="header">
    <h1 class="header__title title">Расходы</h1>
</header>
<main class="main">
    <div class="category-items">
        <div class="category-item">
            <div class="category-item__title title">Еда</div>
            <div class="block-btn">
<!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
                <a rel="stylesheet" href="/expenseEdit" class="category-btn category-btn_blue">Редактировать</a>
<!--                <button class="category-btn category-btn_red">Удалить</button>-->
                <a rel="stylesheet" href="/modalExpenseDel" class="category-btn category-btn_red">Удалить</a>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Жильё</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Здоровье</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Кафе</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Авто</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Одежда</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Развлечения</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Счета</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Спорт</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <a rel="stylesheet" href="/expenseAdd" class="category-item_add">+</a>
        </div>
    </div>
</main>