<header class="header">
    <h1 class="header__title title">Создание категории доходов</h1>
</header>
<main class="main">
    <div class="container">
        <input type="text" class="category-input" placeholder="Название...">
        <div class="block-btn">
            <!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
            <a rel="stylesheet" href="/income" class="category-btn category-btn_green">Создать</a>
            <!--                <button class="category-btn category-btn_red">Удалить</button>-->
            <a rel="stylesheet" href="/income" class="category-btn category-btn_red">Отмена</a>
        </div>
    </div>
</main>