<header class="header">
    <h1 class="header__title title">Доходы</h1>
</header>
<main class="main">
    <div class="category-items">
        <div class="category-item">
            <div class="category-item__title title">Депозиты</div>
            <div class="block-btn">
<!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
                <a rel="stylesheet" href="/incomeEdit" class="category-btn category-btn_blue">Редактировать</a>
<!--                <button class="category-btn category-btn_red">Удалить</button>-->
                <a rel="stylesheet" href="/modalIncomeDel" class="category-btn category-btn_red">Удалить</a>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Зарплата</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Сбережения</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <div class="category-item__title title">Инвестиции</div>
            <div class="block-btn">
                <button class="category-btn category-btn_blue">Редактировать</button>
                <button class="category-btn category-btn_red">Удалить</button>
            </div>
        </div>
        <div class="category-item">
            <a rel="stylesheet" href="/incomeAdd" class="category-item_add">+</a>
        </div>
    </div>
</main>