<!--Модальное окно-->
<div id="modal-income-del" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal__title title modal__title_centering">Вы действительно хотите удалить категорию? Связанные доходы останутся без
                категории.
            </div>
            <div class="block-btn">
                <!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
                <a rel="stylesheet" href="/income" class="category-btn category-btn_green">Да, удалить</a>
                <!--                <button class="category-btn category-btn_red">Удалить</button>-->
                <a rel="stylesheet" href="/income" class="category-btn category-btn_red">Не удалять</a>
            </div>
        </div>
    </div>
</div>