<!--Модальное окно-->
<div id="openModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal__title title">Действительно хотите выйти?</div>
            <div class="block-btn">
<!--                <button class="category-btn category-btn_blue">Редактировать</button>-->
                <a rel="stylesheet" href="/logout" class="category-btn category-btn_blue">Да, выйти</a>
<!--                <button class="category-btn category-btn_red">Удалить</button>-->
                <a rel="stylesheet" href="/" class="category-btn category-btn_red">Отмена</a>
            </div>
        </div>
    </div>
</div>